__pycache__/
*.pyc
*.pyo
*.pyd
.git/
.gitignore
.venv/

# Local data directories
embeddings/
data/

# Raw unused files
*.npy
*.gff3
*.tsv
*.db
Database*
fts_db*
fileprep.py
*_embeddings.py


#secrets
email.env